<style type="text/css"> 
  .slideshow { margin: auto }
  body {overflow: hidden;}
</style> 

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script> 
<script type="text/javascript" src="http://cloud.github.com/downloads/malsup/cycle/jquery.cycle.all.latest.js"></script> 

<script type="text/javascript"> 
$(document).ready(function() {
    $('.slideshow').cycle({fx: 'fade'});
});
</script> 

<div class="slideshow"> 
  {% for t in profil.testimonial_set.all %}
  <div>
    {{ t.name }}: {{ t.content }}
  </div>
  {% endfor %}
</div> 


