<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>
      Wikibooks
    </title>
  </head>
  <body>
    <p>
       lorem ipsum dolor sit amet, consectetur adipiscing elit. in euismod venenatis est. aliquam erat volutpat. nullam leo erat, volutpat eu vestibulum eu, consectetur volutpat mauris. fusce ac lectus sed nisi tristique feugiat. vivamus volutpat laoreet blandit. nunc ac ligula orci, vitae faucibus dui. sed quis lacus eu odio tempor eleifend. proin sed nisl eget nisl dignissim ullamcorper euismod et nulla. pellentesque lobortis enim id massa adipiscing facilisis. in a justo sit amet tortor ultrices mollis. quisque nec elit sed purus egestas ultrices. nullam vitae massa justo. in posuere tempor ligula, nec vestibulum orci pulvinar vitae.
    </p>
    <p>
       lorem ipsum dolor sit amet, consectetur adipiscing elit. in euismod venenatis est. aliquam erat volutpat. nullam leo erat, volutpat eu vestibulum eu, consectetur volutpat mauris. fusce ac lectus sed nisi tristique feugiat. vivamus volutpat laoreet blandit. nunc ac ligula orci, vitae faucibus dui. sed quis lacus eu odio tempor eleifend. proin sed nisl eget nisl dignissim ullamcorper euismod et nulla. pellentesque lobortis enim id massa adipiscing facilisis. in a justo sit amet tortor ultrices mollis. quisque nec elit sed purus egestas ultrices. nullam vitae massa justo. in posuere tempor ligula, nec vestibulum orci pulvinar vitae.
    </p>
    <p>
       lorem ipsum dolor sit amet, consectetur adipiscing elit. in euismod venenatis est. aliquam erat volutpat. nullam leo erat, volutpat eu vestibulum eu, consectetur volutpat mauris. fusce ac lectus sed nisi tristique feugiat. vivamus volutpat laoreet blandit. nunc ac ligula orci, vitae faucibus dui. sed quis lacus eu odio tempor eleifend. proin sed nisl eget nisl dignissim ullamcorper euismod et nulla. pellentesque lobortis enim id massa adipiscing facilisis. in a justo sit amet tortor ultrices mollis. quisque nec elit sed purus egestas ultrices. nullam vitae massa justo. in posuere tempor ligula, nec vestibulum orci pulvinar vitae.
    </p>
    <iframe src="http://localhost:8000/profiles/1/embed" style="border-width:0; overflow: hidden; width: 400px; height: 70px; ">
    </iframe>
    <p>
       lorem ipsum dolor sit amet, consectetur adipiscing elit. in euismod venenatis est. aliquam erat volutpat. nullam leo erat, volutpat eu vestibulum eu, consectetur volutpat mauris. fusce ac lectus sed nisi tristique feugiat. vivamus volutpat laoreet blandit. nunc ac ligula orci, vitae faucibus dui. sed quis lacus eu odio tempor eleifend. proin sed nisl eget nisl dignissim ullamcorper euismod et nulla. pellentesque lobortis enim id massa adipiscing facilisis. in a justo sit amet tortor ultrices mollis. quisque nec elit sed purus egestas ultrices. nullam vitae massa justo. in posuere tempor ligula, nec vestibulum orci pulvinar vitae.
    </p>
    <p>
       lorem ipsum dolor sit amet, consectetur adipiscing elit. in euismod venenatis est. aliquam erat volutpat. nullam leo erat, volutpat eu vestibulum eu, consectetur volutpat mauris. fusce ac lectus sed nisi tristique feugiat. vivamus volutpat laoreet blandit. nunc ac ligula orci, vitae faucibus dui. sed quis lacus eu odio tempor eleifend. proin sed nisl eget nisl dignissim ullamcorper euismod et nulla. pellentesque lobortis enim id massa adipiscing facilisis. in a justo sit amet tortor ultrices mollis. quisque nec elit sed purus egestas ultrices. nullam vitae massa justo. in posuere tempor ligula, nec vestibulum orci pulvinar vitae.
    </p>
  </body>
</html>
